/*-- scss:defaults --*/

$primary: #006909 !default;
$presentation-title-slide-text-align: left;
$link-color: $primary;

/*-- scss:rules --*/

// #title

.theme-title-h1 {
  background-color: $primary;

  h1 {
    color: white;
  }
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.center-x {
  display: inline-block;
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

h1 {
  color: #006909;
}

.medium {
  font-size: 0.85em;
}

.small {
  font-size: 0.75em;
}

:root {
  --r-selection-background-color: #006909;
  --r-link-color: #006909;
  --r-link-color-dark: #006909;
  --r-link-color-hover: #006909;
}

.reveal .footer a {
  color: #006909;
}
